body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.Wellcome-setiom{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.flexibol-cotainer{
    display: flex;
}
.haf-with {
    width: 50%;
    padding-left: 5%;
}
.haf-with img{
    width: 80%;
    margin-top: 80px;
}
 h1{
    font-size:50px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Pushster', cursive;
}
h2{
    font-size: 40px;
}
h3{
    color: rgb(202, 21, 1);
}
span{
    color: salmon;
}
.Dream-Big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}
a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient( rgb(241, 78, 78), rgb(253, 165, 2));
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 700;
}
.Experiences-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 40px;
    padding-right: 5px;
    text-align: justify;

}
.Experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
    margin-bottom: 100px;
}
#student-one{
    border-left: 7px solid;
    border-image:linear-gradient( salmon, red) ;
    border-image-slice:1;
}
#student-two{
    border-left: 7px solid;
    border-image:linear-gradient( rgb(72, 255, 81),  green ) ;
    border-image-slice:1;
}
footer{
    text-align: center;
}